<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580675010995-2blrjajm5fr8bapg4je8hd89crpfoc3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580675010995-2blrjajm5fr8bapg4je8hd89crpfoc3k</string>
	<key>API_KEY</key>
	<string>AIzaSyCXNf28d2STU6RtG1d63-lfNDuxe8E1MNs</string>
	<key>GCM_SENDER_ID</key>
	<string>580675010995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.kds.SpotifyLoginSampleApp</string>
	<key>PROJECT_ID</key>
	<string>spotify-style-login-samp-41e3d</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-style-login-samp-41e3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580675010995:ios:7782b4148917a2911fcbc6</string>
</dict>
</plist>